#floatbar {
  text-align: right;

  direction: ltr;
  background: rgb(44, 179, 240);
  border: 1px;
  border-color: white;
  width: max-content;
  height: max-content;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(-20px, -50%);
  display: grid;
  grid-template-rows: max-content auto;

  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  border-radius: 28pt;
  z-index: 1000000;
  font-size: 24pt !important;
  animation: delayedEntry 3s linear;
}

@keyframes delayedEntry {
  0% {
    transform: translate(1000px, -50%);
  }

  80% {
    transform: translate(100px, -50%);
  }
  100% {
    transform: translate(-20px, -50%);
  }
}

#floatbar>* {
  margin: 4pt
}

.float-button>* {
  vertical-align: middle;
  font-size: 24pt;
}

.float-button>*>* {
  vertical-align: middle;
  font-size: 24pt;
}

.float-button>span {
  font-size: 48pt !important;
}

.float-button>*>span {
  font-size: 32pt !important;
}


.hide-sync-settings {
  display: none;
}

.receive-icon-available {
  color: #ffc600;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
